.git
.github
.vs
.vscode
.idea
bin
obj
TestResults
artifacts
coverage
coverage-report
StrykerOutput
node_modules
**/bin
**/obj
**/TestResults
**/coverage
**/.coverage
**/node_modules
**/dist
**/*.user
**/*.suo
**/*.log
.env
.env.*
!.env.example
!.env.local.example
